<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <div th:replace="/header :: scripts"></div>
    <script th:src="@{js/adminScript.js}"></script>
</head>
<body>
<div th:replace="/navbar :: navbar"></div>
    <div id = "expressionList" class = "p-3">
        <label for = "chkBoxSelectAll">
            <input id = "chkBoxSelectAll" class="chkBoxSelectAll me-1" type="checkbox" value="0">
        </label>
        <button class = "buttonDel">DELETE</button>
    </div>
    <div th:insert="/footer :: footer"></div>
</body>
</html>