<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link th:href="@{css/styleCalc.css}" type="text/css" rel="stylesheet" />
    <div th:replace="/header :: scripts"></div>
    <script th:src="@{js/calcScript.js}"></script>
</head>
<body>
    <div th:replace="/navbar :: navbar"></div>
    <div class = "calc">
        <div class = "containerScore">
            <div class = "item score small"></div>
            <div class = "item score big" id = "result">0</div>
        </div>
        <div class = "containerBase">
            <div class = "containerButtRaw">
                <button class = "item op">/</button>
                <button class = "item op">*</button>
                <button class = "item op">-</button>
                <button class = "item num">7</button>
                <button class = "item num">8</button>
                <button class = "item num">9</button>
                <button class = "item num">4</button>
                <button class = "item num">5</button>
                <button class = "item num">6</button>
                <button class = "item num">1</button>
                <button class = "item num">2</button>
                <button class = "item num">3</button>
                <button class = "item doubleButtRaw comma">,</button>
                <button class = "item num">0</button>
            </div>
            <div class = containerButtCol>
                <button class = "item cancel">C</button>
                <button class = "item doubleButtCol op">+</button>
                <button class = "item doubleButtCol enter">E</button>
            </div>
        </div>
        <div>
            <ul id = "expressionList"></ul>
        </div>
    </div>
    <div th:insert="/footer :: footer"></div>
</body>
</html>